body{
    min-height: 100vh;
}

.logo {
    font-size: 1.25rem;
    text-transform: uppercase;
    font-weight: 200;
}
.is-divider-vertical{
    padding: 0.75rem !important;
}
.is-divider-vertical::before{
    border-left: 1px dashed black !important;
}
.show-when-has-result{

    display: none
}
.hidden-when-has-result{

    display: block;
}

.has-result .hidden-when-has-result{
    display: none;
}

.has-result .show-when-has-result{
    display: block;
}