<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Đồ án nhận dạng biển báo</title>
    <link rel="stylesheet" href="/static/css/bulma.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bulma-extensions.min.css">
    <script defer src="/static/js/jquery.min.js"></script>
    <script defer src="/static/js/bulma-extensions.min.js"></script>
    <script defer src="/static/js/all.js"></script>
    <script defer src="/static/js/util.js"></script>
    <script defer src="/static/js/indexrender.js"></script>
    <script defer src="/static/js/trafficinfomationrender.js"></script>
</head>

<body class="has-background-light">
    <nav class="navbar has-shadow is-dark">
        <div class="navbar-brand">
            <a class="navbar-item logo" href="/">
                Nhận diện biển báo giao thông
            </a>
            <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        <div id="navbarExampleTransparentExample" class="navbar-menu">
            <div class="navbar-end">
                <a class="navbar-item ">
                    <span>Hướng dẫn</span>
                </a>
                <div class="navbar-item has-dropdown is-hoverable">

                    <a class="navbar-link">
                        Thông tin
                    </a>

                    <div id="moreDropdown" class="navbar-dropdown">
                        <a class="navbar-item ">
                            <span>Mục đích đề tài</span>
                        </a>
                        <a class="navbar-item " href="/trafficinfomation" target="_blank">
                            <span>Tra cứu biển báo</span>
                        </a>
                        <a class="navbar-item ">
                            <span>Liên hệ</span>
                        </a>
                    </div>
                </div>
                <a class="navbar-item " href="https://github.com/quangkhoiuit98/trafficsignrecognize" target="_blank">
                    <span class="icon"><i class="fab fa-github"></i></span>
                    <span>View on Github</span>
                </a>
            </div>
        </div>
    </nav>
    <div class="container">
        <div class="hero ">
            <div class="hero-body">
                <div class="columns">
                    <div class="column is-10 is-offset-1 has-background-white box">
                        {% block content %}
                        {% endblock %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {

            $(".navbar-burger").click(function () {

                // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
                $(".navbar-burger").toggleClass("is-active");
                $(".navbar-menu").toggleClass("is-active");
            });

        });
    </script>

</body>

</html>